@import "../global.scss";

.planCard {
  padding: 0px !important;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 5px;
  .defaulPadding {
    padding: 25px;
    &:last-child {
      div {
        padding: 5px 0px;
        span {
          padding-bottom: 3px;
          border-bottom: dashed 0.8px $blue-2-color;
        }
      }
    }
  }
}

.infoPlan {
  font-size: 16px;
}

.freeDomain {
  color: $gray-color;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tagOff {
  background: $green-color;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  padding: 3px 7px;
}

.totalPrices {
  color: $gray-color;
}

.btnContrate {
  margin: 20px 0px !important;
  width: 100%;
  font-weight: bold !important;
  text-transform: capitalize !important;
  // font-weight: bold !important;
  color: white !important;
  font-size: 22px !important;
  background: $orange-color !important;
  border-radius: 25px !important;
}

.insideDivisor {
  border-bottom: 0.5px;
  border-bottom-color: $border-color;
  border-bottom-style: solid;
  /* border-bottom: 0.5; */
  border-top: 0.5px;
  border-top-color: $border-color;
  border-top-style: solid;
  /* border-top: 0.5; */
}
