@import "../global.scss";

.root {
  flex-grow: 1;
}
.orangePlanBg {
  background-color: $orange-color;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 5px;
  .MuiBox-root {
    padding: 0px !important;
  }
  @media screen and (min-width: 1024px) {
    max-width: 330px;
    min-width: 330px;
  }
}

.tabBtn {
  width: calc(100% / 3);
  border-radius: 25px !important;
  text-transform: lowercase !important;
  color: $blue-4-color !important;
}

.activeTab,
.tabBtn:hover {
  background-color: $blue-3-color !important;
  color: white !important;
  border-radius: 25px !important;
  .radioTab {
    color: white !important;
  }
}

.monthSelect {
  color: $blue-4-color;
  font-size: 14px;
}

.tabsRoot {
  flex: 1 !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  flex-direction: column;
}

.tabsBar {
  // display: inline-block;

  width: 330px;
  display: block;
  border: 0.5px solid $blue-3-color;

  background-color: white;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 5px 0px rgba(191, 191, 191, 0.5);
}

.radioTab {
  padding: 0px !important;
  padding-right: 5px !important;
  color: $blue-2-color !important;
}

.containerPlans {
  flex: 1 !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  flex-direction: row;
}

.loadingIcon {
  font-size: 55px !important;

  -webkit-animation: spin 1s linear infinite !important;
  -moz-animation: spin 1s linear infinite !important;
  animation: spin 1s linear infinite !important;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
