.root {
  flex-grow: 1;
}
.orangePlanBg {
  background-color: orange;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 5px;
}
.planCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  &:hover {
    background: #000;
  }
}

.insideDivisor {
  border: 0 0.5 0 0.5;
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  /* border-bottom: 0.5; */
  border-top-color: #ddd;
  border-top-style: solid;
  /* border-top: 0.5; */
}
